@model IEnumerable<AspnetCoreMvcFull.Models.Schedule>

<h2>Your Schedule</h2>

<table class="table">
	<thead>
		<tr>
			<th>Truck ID</th>
			<th>Route</th>
			<th>Scheduled Start</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.TruckId</td>
				@* <td>@item.Road?.Name</td> *@
				<td>@item.ScheduleStartTime.ToString("g")</td>
				<td>@item.Status</td>
			</tr>
		}
	</tbody>
</table>
