<h2>Minimal Form</h2>

@if (ViewBag.Message != null)
{
	<div class="alert alert-success">@ViewBag.Message</div>
}

<form method="post" asp-action="TestForm">
	@* @Html.AntiForgeryToken() *@

	<input type="text" name="name" />
	<button type="submit">Submit</button>
</form>
